.container {
  margin: 2rem;
  transition: transform 200ms;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  overflow: hidden;
  width:100%;
  // height:100%;
  .imageContainer{
    overflow:hidden;
    // max-height:40vh;
    padding:0;
    a{
      pointer-events: auto;
      display:block;
      overflow:hidden;
    }
    img {
      // max-width: 100%;
      width:100%;
      overflow:hidden;
    }
  }
  .category{
    text-align: center;
    padding: 0.5rem;
  }
  .title {
    font-size: 2rem;
    text-align: left;
    text-transform: uppercase;
    font-weight: 500;
    color:#777777;
    font-family:"Montserrat",sans-serif;;
    letter-spacing:0.1rem;
  }
  .text {
    white-space: pre-wrap;
    font-size: 1.7rem;
    line-height:3rem;
    // letter-spacing:0.01rem;
    font-family:"Source Serif Pro",sans-serif;;
  }

  .category{
    font-size:1.6rem;
    font-style:italic;
    font-weight:400;
    color:rgb(145, 145, 145);
    font-family:"Source Serif Pro",sans-serif;
  }

  .date{
    margin-top:1rem;
    font-weight:300;
    font-size:1.4rem;
    font-style:italic;
    color:#777777;
  }
  & > *:not(img) {
    padding: 0rem 1rem;
  }
  // &:hover {
  //   transform: translateY(-2%);
  // }
}
