.container,
.containerLandscape {
  margin: 2rem;
  font-size: 1.5rem;
  overflow: hidden;
  width: 100%;
}
.containerLandscape {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .imageContainer {
    width: 40%;
    height: auto;
    // margin-right: 1rem;
    padding: 0;
    .postImage {
      width: 100%;
      padding: 0;
      height: 100%;
    }
  }
  .textContainer {
    width: 60%;
    margin-left: 2rem;
  }
}
.container {
  display: flex;
  flex-direction: column;
  .imageContainer {
    width: 100%;
    padding: 0;
    .postImage {
      width: 100%;
      padding: 0;
      height: auto;
    }
  }
  .category {
    text-align: center;
    padding: 0.5rem;
  }
  & > *:not(img) {
    padding: 0rem 1rem;
  }
}
.title {
  font-size: 2rem;
  text-align: left;
  text-transform: uppercase;
  font-weight: 500;
  color: #777777;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.1rem;
}
.text {
  white-space: pre-wrap;
  font-size: 1.7rem;
  line-height: 3rem;
  font-family: "Source Serif Pro", sans-serif;
}

.category {
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 400;
  color: rgb(145, 145, 145);
  font-family: "Source Serif Pro", sans-serif;
}

.date {
  margin-top: 1rem;
  font-weight: 300;
  font-size: 1.4rem;
  font-style: italic;
  color: #777777;
}
